/* 
    Document   : tickspot
    Created on : 21-dic-2011, 15:03:44
    Author     : jaraya
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
	display: block;
}

